<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <style>

  </style>
</head>
<body>

<nav class="navbar navbar-inverse">
	<h1 style="color:white;text-align:center">Merchant</h1>
  <div class="imgcontainer">
    <img src="Register-512.png" alt="Avatar" class="avatar">
  </div>
</nav>
  
<div class="container-fluid text-center">    
  <div class="row content">
    <div class="col-sm-2 sidenav">
	<div class="row">
  <div class="col_left" style="background-color:#aaa;">
    <h2>ID</h2>
    <div class="alert alert-success alert-dismissible" id="data1">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Data 1:</strong> hjjhvjhvhjv
  </div>
  <div class="alert alert-success alert-dismissible" id="data2">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Data 2: </strong> hjjhvjhvhjv
  </div>
  <div class="alert alert-success alert-dismissible" id="data3">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Data 3:</strong> hjjhvjhvhjv
  </div>
  </div>
  <div class="col_left" style="background-color:#bbb;">
    <h2>Fake SSN</h2>
    <div class="alert alert-success alert-dismissible" id="data4">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Data 1:</strong> hjjhvjhvhjv
  </div>
  <div class="alert alert-success alert-dismissible" id="data5">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Data 2: </strong> hjjhvjhvhjv
  </div>
  <div class="alert alert-success alert-dismissible" id="data6">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Data 3:</strong> hjjhvjhvhjv
  </div>
  <div class="alert alert-success alert-dismissible" id="data7">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Data 3:</strong> hjjhvjhvhjv
  </div>
  </div>
</div>
     
    </div>
    <div class="col-sm-8 text-left sidenav2"> 
      <h1>Welcome</h1>
      <div class="container">	  
    <label for="uname"><b>Name: </b></label>
	<input type="text" name="uname" required>	
    <label for="fakessn"><b>Fake SSN: </b></label>	
    <input type="text" name="fakessn" required>  
    <label for="secrettype"><b>Secret type: </b></label>
    <input type="text" name="secrettype" required>
    <label for="clientid"><b>Client ID: </b></label>
    <input type="text" name="clientid" required>
    <button type="submit">Request</button>
  </div>
      <hr>
    
    </div>
    
  </div>
</div>

</body>
</html>
