<div>
    <div class="row">
        <div class="col-sm-6">
            <table class="table">
                <thead>
                <tr>
                    <td>User</td>
                    <td>Secret</td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="client in clientData">
                    <td>{{client.customerIdentity}}</td>
                    <td>{{client.maskedSecret}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-6">
        <form ng-submit="checkIfMerchant1IsLegit()">
            <div class="container">
                <div class="form-group" ng-class="{ 'has-error': form.merchantIdentity.$dirty && form.merchantIdentity.$error.required }">
                    <label for="merchantIdentity">Merchant Identity</label>
                    <input type="text" name="merchantIdentity" id="merchantIdentity" class="form-control" ng-model="info.email" required />
                    <span ng-show="form.merchantIdentity.$dirty && form.merchantIdentity.$error.required" class="help-block">Merchant Identity is required</span>
                </div>
                <div class="form-group" ng-class="{ 'has-error': form.maskedSecret.$dirty && form.maskedSecret.$error.required }">
                    <label for="maskedSecret">Masked Secret</label>
                    <input type="text" name="maskedSecret" id="maskedSecret" class="form-control" ng-model="info.maskedSecret" required />
                    <span ng-show="form.maskedSecret.$dirty && form.maskedSecret.$error.required" class="help-block">Masked secret is required</span>
                </div>
                <div class="form-group" ng-class="{ 'has-error': form.secretType.$dirty && form.secretType.$error.required }">
                    <label for="secretType">Secret type</label>
                    <input type="text" name="secretType" id="secretType" class="form-control" ng-model="info.secretType" required />
                    <span ng-show="form.secretType.$dirty && form.secretType.$error.required" class="help-block">Secret type is required</span>
                </div>
                <div class="form-group" ng-class="{ 'has-error': form.customerIdentity.$dirty && form.customerIdentity.$error.required }">
                    <label for="customerIdentity">Customer Identity</label>
                    <input type="text" name="customerIdentity" id="customerIdentity" class="form-control" ng-model="info.customerIdentity" required />
                    <span ng-show="form.customerIdentity.$dirty && form.customerIdentity.$error.required" class="help-block">Client Identity is required</span>
                </div>
                <div class="form-actions">
                    <button type="submit" ng-disabled="form.$invalid || dataLoading" class="btn btn-primary btn-block">Submit</button>
                    <img ng-if="dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                </div>
            </div>
    </form>

    </div>
</div>


